.about{
    display: grid;
    grid-template-columns: 1fr;
    figure {
        margin: 0;
        img{
            min-width: 100%;
            max-width: 100%;
            height: auto;
        }
    }
}
.abovefooter{
    display: grid;
    // text-align: center;
    .footer_body{
        text-align: left;
    }
}

.rapid_contact_form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem 0;
}
.rapid_contact{
    .form-control{
        margin-right:.5rem;
    }
}
.message {
    grid-column: 1 /span 3;
}
.form-control{
    padding: .5rem 1rem;
    border: 1px solid $gray-700;
}
.fa-ul {
    margin: 3rem 0 0 0;
    a{
        color: $black;
    }
    li {
        margin: 1.5rem 0 1.5rem 3rem;
        i.fa-3x {
            left: -2.75rem;
        }
    }
}
.contact{
    text-align: left;
}
#message-sent, #message-sent-false {
    display: none;
}
@include media-breakpoint-up(lg) {
    .about{
        figcaption{
            margin-bottom: 1rem;
        }
    }
    .abovefooter {
        grid-column-start: 2;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 1rem;
    }
    .rapid_contact_form {
        grid-template-columns: repeat(2,1fr);
    }
}