.about{
    display: grid;
    grid-template-columns: 1fr;
    figure {
        margin: 0;
        img{
            min-width: 100%;
            max-width: 100%;
            height: auto;
        }
    }
}
.abovefooter{
    display: grid;
    // text-align: center;
    .footer_body{
        text-align: left;
    }
}
.form_rapid_contact{
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    input, textarea {
        border: 1px solid $gray-700;
        padding: .5rem;
    }
}
.rapid_contact_form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
.fa-ul {
    margin: 40px 0 0 0;
    a{
        color: $black;
    }
    li {
        margin: 25px 0 25px 46px;
    }
}
.contact{
    text-align: left;
}
#message-sent, #message-sent-false {
    display: none;
}
@include media-breakpoint-up(lg) {
    .about{
        figcaption{
            margin-bottom: 1rem;
        }
    }
    .abovefooter {
        grid-column-start: 2;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 1rem;
    }
    .rapid_contact_form {
        grid-template-columns: repeat(3,1fr);
    }
}