$padding-x: 1.85rem;
$padding-y: 0.75rem;
$i-margin-y: -1* $padding-y;
$i-padding :$padding-y;
$i-margin-left:- $padding-x;
$i-margin-right: $i-padding;

.meta-btn {
    position: relative;
    padding: $padding-y $padding-x;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid $black;
    transition: color 0.4s ease-out;
    color: $black;

    &:hover,
    &:active,
    &:focus {
        color: $white;

        &:before {
            transform: scaleX(1);
        }
    }

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $black;
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition-property: transform;
        transition-duration: 0.4s;
        transition-timing-function: ease-out;
    }

    i {
        color: $white;
        background-color: $black;
        position: relative;
        z-index: 10;
        padding: 0.8125rem 0.75rem;
        line-height: $line-height-lg;
        margin: $i-margin-y $i-margin-left $i-margin-y $i-padding;
    }
}

a {
    &.shopblack {
        border: 1px solid black;
        color: black;
        text-decoration: none;
        border-radius: 0;
        font-size: 1.5rem;
        margin-bottom: 1rem;

    }
}
@include media-breakpoint-up(lg) {
    .meta-btn{
        &:before{
        margin-bottom:-1px; //Fix for some kind of padding or magin in Bootstrap to avoid double border in button group
    }
    }
}