.subtitle{
    font-style: italic;
    color: $gray-600;
    em{
        font-family: Big Caslon,Book Antiqua,Palatino Linotype,Georgia,serif;
        color: $gray-500;
    }
}

figure{
    overflow: hidden;
    img{
        min-width: 100%;
        height: 100%;
        width: 100%;
    }
}
i{
    &.fa{
        cursor: pointer;
    }
}
figcaption{
    text-align: right;
    font-style: italic;
    font-size: 70%;
}
[class*="columnsblock"]{
    display: grid;
    grid-gap: 1rem 1rem;
    text-align: justify;
    margin-bottom: 1rem;
   
}
.fa-heart{
    font-size: 2.5rem;
    color: $red;
}
.embed-responsive{
    margin-bottom: 1rem;
}

@include media-breakpoint-up(lg) {
    html{font-size: 1.125rem;}
    #system-message-container, .item-page, #hikashop_checkout_form{
    grid-column-start: 2;
    }
    .columnsblock2{
        grid-template-columns: repeat(2,1fr);
        h1,h2,h3,h4,h5,h6{
            grid-column: 1 / span 2;
        }
    }
    .columnsblock3{
        grid-template-columns: repeat(3,1fr);
        h1,h2,h3,h4,h5,h6{
            grid-column: 1 / span 3;
        }
    }
}