.subtitle{
    font-style: italic;
    color: $gray-600;
    em{
        font-family: Big Caslon,Book Antiqua,Palatino Linotype,Georgia,serif;
        color: $gray-500;
    }
}
[class*="columnsblock"]{
    display: grid;
    grid-gap: 1rem 1rem;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
@include media-breakpoint-up(lg) {
    .columnsblock2{
        grid-template-columns: repeat(2,1fr);
        h1,h2,h3,h4,h5,h6{
            grid-column: 1 / span 2;
        }
    }
    .columnsblock3{
        grid-template-columns: repeat(3,1fr);
        h1,h2,h3,h4,h5,h6{
            grid-column: 1 / span 3;
        }
    }
}