footer {
    text-align: center;
    display: flex;
    flex-flow: column;
    background: $white;
    font-size: 75% !important;

    p {
        margin: 0;
        padding: 0;
    }

    .footer-navbar {
        order: 2;

        .navbar-nav {
            display: flex;
            flex-flow: row;
            list-style: none;
            padding: $input-btn-padding-y $input-btn-padding-x;
            justify-content: center;
            margin-bottom: 0;

            .nav-link {
                color: $gray-600;
            }
        }
    }

    .copyright {
        padding: $input-btn-padding-y $input-btn-padding-x;
        order: 1;
    }

    .social {
        order: o;

        .nav-item {
            &:hover{
                a{
                    color:$white;
                }
                i{
                    border-color:$body-color;
                    background:$black;
                }
            }
            i {
                font-size: 1rem;
                padding: .5rem;
                border: 1px solid $gray-500;
                border-radius: 50%;
            }
        }

        a {
            color: $body-color;
        }
    }
}

@include media-breakpoint-up(lg) {
    footer {
        flex-flow: row;
        justify-content: center;
        align-items: center;

        .footer-navbar {
            order: 1;
        }

        .copyright {
            order: 0;
        }

        .social {
            order: 2;
        }
    }
}