form.checkout2{
    display: grid;
    grid-gap:1rem;
    fieldset{
        display: contents;
    }
    legend {
        grid-column: span 2;
    }
}
@include media-breakpoint-up(lg){
    form.checkout2{
        grid-template-columns: 1fr 4fr;
    }
}