// form.checkout2{
//     display: grid;
//     grid-gap:1rem;
//     fieldset{
//         display: contents;
//     }
//     legend {
//         grid-column: span 2;
//     }
// }
    select {
        border-radius: 0;
        -webkit-appearance: none;
    }

    input[type="checkbox"] {
        display: none;
        + label{
            &:before{
                margin-right: .5rem;
                border: 1px solid $gray-500;
                content: "\f00c";
                padding: 0;
                font-family: FontAwesome;
                color: $white;
            }
        }
        &:checked{
            + label{
            &:before{
                color: $red;
            }
        }
    }
    }
    .hkform-horizontal select {
        display: block;
        width: 100%;
    }
@include media-breakpoint-up(lg){
    // form.checkout2{
    //     grid-template-columns: 1fr 4fr;
    // }
}