header {

    background: $white;
    transition: all 0.3s linear 0s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;

    .logo {
        order: 1;
        width: 50%;
        text-align: center;
        margin-right: auto;
        margin-left:  auto;
    }

    .header-extra {
        display: flex;
        align-items: center;
        order: 2;
        margin: 0 1.5rem;


        .cart-module {
            display: inline-block;
            position: relative;

            .menu-cart {
                display: block;
                float: right;
                margin-left: 10px;
            }
            .fa-shopping-cart {
                color: $gray-700;
                position: relative;
            }
            .numcart{
                color: $white;
                background: $red;
                font-size: 0.75rem;
                border-radius: 50%;
                padding: 0 0.25rem;
                position: absolute;
                top: -0.5rem;
                right: -1rem;
            }
        }

        .search-button {
            cursor: pointer;
            margin:  1.5rem 0 1.5rem 1.5rem;
        }
    }

    .toggler {
        order: 0;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        appearance: none;

        .navbar-toggler-icon {
            background-image: $navbar-light-toggler-icon-bg;
            display: inline-block;
            width: 1.5em;
            height: 1.5em;
            vertical-align: middle;
            content: "";
            background: no-repeat center center;
            background-size: 100% 100%
        }
    }
}
.navbar-nav{
    .nav-item {
        .nav-link {
           text-transform: uppercase;
        }
    }
}

.search-form {
    display: none;
    position: absolute;
    z-index:1;
    left: 0;
    top:0;
    color: $gray-700;
    background-color: $white;

    &.show {

        display: block;
    }

    .search-box {
        height: 100%;
        width: 100%;
    }

    .search-input {
        position: relative;
        top: 1rem;
        border: 0;
        outline: 0;
        width: 99%;
        height: 70%;
        padding: 10px;
        font-size: 30px;
        border-radius: 0;
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
    }
}

@include media-breakpoint-down(md) {

    .navbar {
        position: fixed;
        /* or choose `absolute` depending on desired behavior*/
        top: 0;
        bottom: 0;
        width: 240px;
        left: -340px;
        transition: transform .3s ease-in-out;
        background: $white;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        z-index: 1000;
        box-shadow: 2px 0 10px rgba(0,0,0,.25);

        .close {
            margin: 1rem;
            position: absolute;
            right: 0;
            align-self: flex-end;
        }
        .navbar-nav {
            display: flex;
            flex-direction: column;
            list-style: none;
            margin-bottom: 0;
            padding-left: 1rem;    
            margin-top: .5rem;

            .nav-item {
                .nav-link {
                    color: $navbar-light-color;
                    padding: 1rem .5rem;
                }
            }
        }
    }

    #nav:target {
        transform: translate(340px);
    }
}

@include media-breakpoint-up(sm) {
    .header {
        .toggler {
            margin-right: auto !important;
        }
    }
}

@include media-breakpoint-up(lg) {
    header {
        justify-content: flex-end;
        align-content: center;

        .logo,
            {
            order: 0;
            margin-right: auto;
            margin-left: 1.5rem;
            width: auto;
        }

        .toggler {
            display: none;
        }

        .navbar {
            order: 1;
            margin-left: auto;

            .navbar-nav {
                display: flex;
                flex-direction: row;
                list-style: none;
                margin-bottom: 0;

                .nav-item {
                    a {
                        color: $navbar-light-color;
                    }
                }
            }
        }

        .header-extra {
            order: 3;
            margin-left: 1rem;
            font-size: 1.5rem;

            .search-form {
                .search-input {
                    width: 80%;
                    margin: auto;
                }

                .close {
                    top: 5%;
                    right: 5%;
                }
            }
        }
    }

}