header {
    z-index: 1111;
    background: $white;
    transition: all 0.3s linear 0s;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .logo {
        /* margin: 10px 0 0;
        padding: 10px 15px; */
        margin-right: auto;

        /* img {
            width: 140px;
            height: 35px;
        } */
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .navbar {
            margin-right: 2rem;
        }

        .header-extra {
            
            z-index: 50;
            display: flex;
            align-items: center;

            .cart-module {
                display: inline-block;
                position: relative;

                .menu-cart {
                    display: block;
                    float: right;
                    color: $gray-700;
                    margin-left: 10px;

                    .fa-shopping-cart {
                        border: $border-width solid $border-color;
                        border-radius: 50%;
                    }
                }
            }

            .search-button {
                padding: 5px 10px;

                cursor: pointer;
            }
        }
    }

    .search-form {
        display: none;
        position: absolute;
        z-index: -1;
        left: 0;
        color: $gray-700;
        background-color: $white;

        &.show {
            z-index: 1000;
            display: block;
        }

        .search-box {
            height: 100%;
            width: 100%;
        }

        .search-input {
            position: relative;
            top: 1rem;
            border: 0;
            outline: 0;
            width: 99%;
            height: 70%;
            padding: 10px;
            font-size: 30px;
            border-radius: 0;
        }

        .close {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}


@include media-breakpoint-down(md) {
    header {
        justify-content: center;
        .logo,
        .logo-mobile {
            margin: 0;
            padding: 20px 0;
            text-align: center;
            z-index: 1;
        }

        .navbar-toggler {
            z-index: 2;
        }

        .menu {
            position: absolute;
            padding: 0;
        }

        .search-form {
            .search-input {
                width: 80%;
                margin: auto;
            }

            .close {
                top: 5%;
                right: 5%;
            }
        }

        .header-extra {
            right: 2rem;
        }
    }

    .container {
        width: 100%;
    }
}