// Dev
.hikashop_view_files_title,
.hikashop_view_files_wrapper,
.hikashop_view_files_border {
    display: contents
}
.hikashop_field_required_label{
    color: $red;
}
.meta_monaco_products,
.meta_monaco_product_page form {
    display: grid;
    grid-gap: 1rem 1rem;
    align-items: start;

    .meta_monaco_product_left_part {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: 1rem;
        img{
            cursor: pointer;
        }

        img:first-child {
            grid-column: span 3;
        }

        .meta_monaco_product_right_part {
            display: grid;
            grid-gap: 1rem;
        }
    }

    .meta_monaco_product_quantity_field {
        width: 1.875rem;
        text-align: center;
    }

    .meta_monaco_product_quantity_field_change {
        color: $black;
    }

    .meta_monaco_listing_img_title {
        position: relative;
        transition: all 0.75s ease-in-out;

        .meta_monaco_product_name {
            position: absolute;
            top: 1.25rem;
            left: 1.875rem;
            opacity: 0;
            color: $black;
        }

        .readmore {
            position: absolute;
            top: 50%;
            left: 50%;
            opacity: 0;
            background: transparent;
            border: 0;
            color: $black;
            font-size: 2rem;
            transform: translate(-2rem, -2rem);

        }

        &:hover {
            img {
                opacity: 0.5;
            }

            .meta_monaco_product_name {
                opacity: 1;
            }

            .readmore {
                opacity: 1;
            }
        }
    }
}

.table {
    a {
        color: $black;
    }
}

//Badges
.badge {
    position: absolute;
    top: 0rem;
    right: 0rem;

    p {
        margin-bottom: 0;
        text-align: center;
        transform: rotate(45deg) translate(3.5rem);
        background: $red;
        width: 12rem;
        font-family: Big Caslon, Book Antiqua, Palatino Linotype, Georgia, serif;
        text-transform: uppercase;
    }
}

button.close {
    position: absolute;
    top: 0;
    right: .5rem;
    opacity: 1;
    padding: 1rem;
}

//cart
.meta_monaco_cart_product_image_title {
    width: 10%;
}

.cart_product_quantity_value {
    input {
        text-align: center;
    }
}

.meta_monaco_checkout_cart a {
    color: $black;
}

// cart notify
.image,
.title {
    display: none !important;
}

.text {
    font-size: 1.5rem !important;
}

.specs {
    a {
        color: $black;
    }

    .meta_monaco_product_price_full {
        color: $gray-700;
    }

    td {
        padding: .5rem 1.125rem .5rem 0;
    }
}
.hikashop_product_characteristics_table{
    td{
        padding: .5rem 2.5rem .5rem 0;
        select{
            appearance: none;
            -webkit-appearance: none;
        }
    }
}
.meta_monaco_product_quantity_main {
    margin-bottom: 1rem;
}

.meta_monaco_product_quantity_div {
    margin-bottom: .5rem;
}

.vex-content {
    font-family: $font-family-sans-serif !important;
    border-radius: 0 !important;
    width: 100% !important;
    iframe{
        width: 100%;
    }
    .vex-dialog-button {
        border: 1px solid !important;
        margin: 0 !important;
        font-family: inherit !important;
        text-transform: uppercase !important;
        letter-spacing: 0.1em !important;
        font-size: 1rem !important;
        line-height: 1.5rem !important;
        padding: 1rem !important;
        border-radius: 0 !important;


        &.vex-dialog-button-primary {
            background: $white !important;
            color: $black !important;
        }

        &.vex-first {
            float: left !important;
        }

        &.vex-last {
            float: right !important;
        }
    }
}

.hikashop_checkout_address {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

@include media-breakpoint-up(lg) {
    .meta_monaco_product_page {
        grid-column-start: 2;

        form {
            grid-template-columns: 1fr 1fr;
        }

        .meta_monaco_product_top_part {
            grid-column: span 2;
        }
    }

    .meta_monaco_products {
        grid-template-columns: repeat(3, 1fr);
        grid-column-start: 2;
    }

    .vex-content {
        width: 50% !important;
    }
    .hikashop_checkout_address {
        fieldset {
            flex: 0 0 50%;
        }
    }
    .contentpane main {
        grid-template-columns: 1fr;
        #system-message-container{
            grid-column-start: 1;
        }
    }

}

