.hikashop_products,
.hikashop_product_page form {
    display: grid;
    grid-gap: 1rem 1rem;

    .hikashop_product_left_part {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: 1rem;

        img:first-child {
            grid-column: span 3;
        }

        .hikashop_product_right_part {
            display: grid;
            grid-gap: 1rem;
        }
    }

    .hikashop_product_quantity_field {
        width: 1.875rem;
        text-align: center;
    }

    .hikashop_product_quantity_field_change {
        color: $black;
    }

    .hikashop_listing_img_title {
        position: relative;
        transition: all 0.75s ease-in-out;

        .hikashop_product_name {
            position: absolute;
            top: 1.25rem;
            left: 1.875rem;
            opacity: 0;
            color: $black;
        }

        .readmore {
            position: absolute;
            top: 50%;
            left: 50%;
            opacity: 0;
            background: transparent;
            border: 0;
            color: $black;
            font-size: 2rem;
            transform: translate(-2rem, -2rem);

        }

        &:hover {
            img{
                opacity: 0.5;
            }  

            .hikashop_product_name {
                opacity: 1;
            }

            .readmore {
                opacity: 1;
            }
        }
    }
}
//cart
.hikashop_cart_product_image_title {
    width: 10%;
}
.cart_product_quantity_value {
    input{
    text-align: center;
    }
}
.hikashop_checkout_cart a {
    color: $black;
}
// cart notify
.image,
.title {
    display: none !important;
}

.text {
    font-size: 1.5rem !important;
}

.vex-content {
    font-family: $font-family-sans-serif !important;
    border-radius: 0 !important;
    width: 550px !important;
    .vex-dialog-button {
        border: 1px solid !important;
        margin: 0 !important;
        font-family: inherit !important;
        text-transform: uppercase !important;
        letter-spacing: 0.1em !important;
        font-size: 1rem !important;
        line-height: 1.5rem !important;
        padding: 1rem !important;
        border-radius: 0 !important;


        &.vex-dialog-button-primary {
            background: $white !important;
            color: $black !important;
        }

        &.vex-first {
            float: left !important;
        }

        &.vex-last {
            float: right !important;
        }
    }
}
.hikashop_products {
    grid-template-columns: repeat(3, 1fr);
}
@include media-breakpoint-up(lg) {
    .hikashop_product_page {
        form {
            grid-template-columns: 2fr 1fr;
        }

        .hikashop_product_top_part {
            grid-column: span 2;
        }
    }

    .hikashop_products {
        grid-template-columns: repeat(3, 1fr);
    }
}