// Dev
.hikashop_view_files_title,
.hikashop_view_files_wrapper,
.hikashop_view_files_border {
    display: contents
}

.hikashop_field_required_label {
    color: $red;
}

.meta_monaco_products,
.meta_monaco_product_page form {
    display: grid;
    grid-gap: 1rem 1rem;
    align-items: start;
    margin-bottom: 1rem;

    .meta_monaco_product_left_part {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: 1rem;

        img {
            cursor: pointer;
        }

        img:first-child {
            grid-column: span 3;
        }
    }

    .meta_monaco_product_right_part {
        h1 {
            text-align: center;
        }

        h2 {
            font-size: 1rem;
            font-style: italic;
            text-align: center;
            background: black;
            color: white;
            padding: .5rem 0;
        }

        .price {
            text-align: center;
            position: relative;
            z-index: 2;
            margin: 2rem 0;
            padding: 0 1rem;
            font-size: 18px;

            &:after {
                content: "";
                position: absolute;
                top: 50%;
                left: 5%;
                right: 5%;
                border-top: solid 1px rgba(0, 0, 0, 0.125);
                z-index: -1;
            }

            span {
                background: white;
            }
        }

        .tags {
            margin-left: 1rem;

            li {
                color: rgba(0, 0, 0, .7);
                font-style: italic;
                font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;

                &:before {
                    content: '# ';
                }
            }
        }

        .meta_monaco_product_quantity_main {
            margin-bottom: 2rem;
            text-align: center;
        }

        .meta_monaco_product_quantity_div {
            margin-bottom: .5rem;
            display: inline-block;
        }

    }

    .meta_monaco_product_quantity_field {
        width: 1.875rem;
        text-align: center;
    }

    .meta_monaco_product_quantity_field_change {
        color: $black;
    }

    .meta_monaco_listing_img_title {
        position: relative;
        transition: all 0.75s ease-in-out;
    }

    .card {
        text-align: justify;
        word-break: break-word;
    }
}

.table {
    a {
        color: $black;
    }
}

.material {
    vertical-align: top;
}

// Product detail
.accordion {
    border: solid rgba(0, 0, 0, 0.125);
    border-width: 1px 0;
}

.meta_description {
    color: black;
    display: block;

    i {
        float: right;
        transform: rotate(180deg)
    }

    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

.collapsed {
    i {
        transform: none;
    }
}

//Badges
.badge {
    position: absolute;
    top: 0rem;
    right: 0rem;

    p {
        margin-bottom: 0;
        text-align: center;
        transform: rotate(45deg) translate(3.5rem);
        background: $red;
        width: 12rem;
        font-family: Big Caslon, Book Antiqua, Palatino Linotype, Georgia, serif;
        text-transform: uppercase;
    }
}

button.close {
    position: absolute;
    top: 0;
    right: .5rem;
    opacity: 1;
    padding: 1rem;
}

//cart
.meta_monaco_cart_product_image_title {
    width: 10%;
}

.cart_product_quantity_value {
    input {
        text-align: center;
    }
}

.meta_monaco_checkout_cart a {
    color: $black;
}

// cart notify
.image,
.title {
    display: none !important;
}

.text {
    font-size: 1.5rem !important;
}

.specs {
    a {
        color: $black;
    }

    .meta_monaco_product_price_full {
        color: $gray-700;
    }

    td {
        padding: .5rem 1.125rem .5rem 0;
    }
}

.hikashop_product_characteristics_table {
    td {
        padding: .5rem 1rem 2.5rem 0;

        label{
            &:hover{
                input[type="radio"]{
                    box-shadow: inset 0 0 0 5px #e10512;
                    border: solid 1px #e10512;
                }
            }
        }
    }
    input[type="radio"] {
        margin: 0 .125rem -3px 1rem;
        padding: 0.5rem;
        border: solid 1px black;
        -webkit-appearance: none;
        border-radius: 50%;
    }
    input[type="radio"]:checked {
        box-shadow: inset 0 0 0 5px #e10512;
        border: solid 1px #e10512;
    }
}

.vex-content {
    font-family: $font-family-sans-serif !important;
    border-radius: 0 !important;
    width: 100% !important;

    iframe {
        width: 100%;
    }

    .vex-dialog-button {
        border: 1px solid !important;
        margin: 0 !important;
        font-family: inherit !important;
        text-transform: uppercase !important;
        letter-spacing: 0.1em !important;
        font-size: 1rem !important;
        line-height: 1.5rem !important;
        padding: 1rem !important;
        border-radius: 0 !important;


        &.vex-dialog-button-primary {
            background: $white !important;
            color: $black !important;
        }

        &.vex-first,
        &.vex-last {
            width: 100%;
            margin-bottom: 1rem !important;
        }
    }
}

.hikashop_checkout_address {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem !important;
}

// listing
.meta_monaco_listing {
    position: relative;
    transition: all 1s ease-in-out 1s;
    overflow: hidden;
    background: $black;

    a {
        color: $white;
    }

    img {
        width: 100%;
    }

    .readmore,
    .buynow {
        opacity: 0;
        text-align: center;
        line-height: 3;
        border: 0;
        background: transparent;
        cursor: pointer;

        i {

            color: $white;
            background: transparent;
            z-index: 10;
            line-height: 1.5;
            float: right;
        }
    }

    .readmore,
    .buynow {

        &:hover,
        &:active,
        &:focus {
            color: $black;
            background: rgba(255, 255, 255, 0.66);

            i {
                color: $black;
            }
        }
    }

    figure {
        position: relative;
        margin: 0;
    }

    .meta_monaco_product_name {
        position: absolute;
        top: 1.25rem;
        left: 1.875rem;
        opacity: 0;
        color: #fff;
    }

    .buttons {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        width: 100%;

        a {
            display: block;
            width: 50%;
            margin: 0 auto;
        }
    }

    .readmore {
        width: 100%;
    }

    .price {
        color: $white;
        text-align: center;
        background: transparent;
        opacity: 0;
        display: block;
    }

    &:hover,
    &:active,
    &.hover {

        .readmore,
        .buynow,
        .price,
        .meta_monaco_product_name {
            opacity: 1;
        }

        img {
            opacity: 0.5;
        }
    }

    .add {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
    }

    .buynow {
        width: 100%;
        font-size: 1.2rem;
    }
}

@include media-breakpoint-up(lg) {

    .meta_monaco_product_page,
    .hikashop_category_information {
        grid-column-start: 2;

        form {
            grid-template-columns: 1fr 1fr;
        }

        .meta_monaco_product_top_part {
            grid-column: span 2;
        }
    }

    .meta_monaco_listing {
        .buttons {
            top: 35%
        }
    }
    .meta_monaco_products {
        grid-template-columns: repeat(3, 1fr);
        grid-column-start: 2;
    }

    .vex-content {
        width: 50% !important;

        .vex-dialog-button {

            &.vex-first,
            &.vex-last {
                width: auto;
                margin-bottom: 0;
            }

            &.vex-first {
                float: left !important;
            }
        }

    }

    .hikashop_checkout_address {
        fieldset {
            flex: 0 0 50%;
        }
    }

    .contentpane main {
        grid-template-columns: 1fr;

        #system-message-container {
            grid-column-start: 1;
        }
    }

    .meta_monaco_product_right_part {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        max-width: 35rem;
    }

}
@include media-breakpoint-up(xl){
    .meta_monaco_listing {
        .buttons {
            top: 50%
        }
    }
}