body.home {
    h1{
        font-size:$font-size-base * 1.75;
    }
    p,h1,a {
        color: $black;
        text-transform: uppercase;
    }
        & .dark {
            p,h1,a {
                color: $white;
                text-transform: uppercase;
                margin-bottom:1rem;
                &:hover{
                    text-decoration: none;
                }
            }
            .meta-btn {
                border: 1px solid $white;
                color: $white;

                &:hover,
                &:active,
                &:focus {
                    color: $black;
                }

                &:before {
                    background-color: $white;
                }

                i {
                    color: $black;
                    background-color: $white;
                }
            }
        }
    background: url(../../../images/home/home-324.jpg) no-repeat center 80px fixed;
    background-size: cover;

    @media screen and (orientation: portrait) {
        @include media-breakpoint-up(sm) {
            background: url(../../../images/home/home-432.jpg) no-repeat center 80px fixed;
            background-size: cover;
        }

        @include media-breakpoint-up(md) {
            background: url(../../../images/home/home-558.jpg) no-repeat center 80px fixed;
            background-size: cover;
        }

        @include media-breakpoint-up(lg) {
            background: url(../../../images/home/home-665.jpg) no-repeat center 80px fixed;
            background-size: cover;
        }
    }

    @media screen and (orientation: landscape) {
        background: url(../../../images/home/home-576.jpg) no-repeat center 80px fixed;
        background-size: cover;

        @include media-breakpoint-up(sm) {
            background: url(../../../images/home/home-768.jpg) no-repeat center 80px fixed;
            background-size: cover;
        }

        @include media-breakpoint-up(md) {
            background: url(../../../images/home/home-992.jpg) no-repeat center 80px fixed;
            background-size: cover;
        }

        @include media-breakpoint-up(lg) {
            background: url(../../../images/home/home-1200.jpg) no-repeat center 80px fixed;
            background-size: cover;
        }
        @include media-breakpoint-up(xl) {
            background: url(../../../images/home/home-2560.jpg) no-repeat center 80px fixed;
            background-size: cover;
        }
    }

    main {
        display: flex;
        justify-content: center;
        text-align: center;

        section {
            align-self: center;
                align-self: flex-end;
        }
    }
}
section{
    &.mr{
        position: absolute;
        top: 50%;
        right: 5%;
    }
    &.ml{
        position: absolute;
        top: 50%;
        left: 5%;
    }
}