body.look {
    grid-template-rows: 80px repeat(2,auto) minmax(120px, 150px);
    h1 {
        font-size: $font-size-base * 1.75;
    }

    main {
        img {
            display: block;
            width: 100%;
            min-width: 100%;

        }
    }
    figure{
        position:relative;
        margin:0;
        &.mr {
            a {
                position: absolute;
                top: 50%;
                right: 5%;
            }
    
        }
        &.tr {
            a {
                position: absolute;
                top: 5%;
                right: 5%;
            }
    
        }
        &.br {
            a {
                position: absolute;
                bottom: 5%;
                right: 5%;
            }
    
        }
    
        &.ml {
            a {
                position: absolute;
                top: 50%;
                left: 5%;
            }
        }
        &.tl {
            a {
                position: absolute;
                top: 5%;
                left: 5%;
            }
        }
        &.bl {
            a {
                position: absolute;
                bottom: 5%;
                left: 5%;
            }
        }
    }
    picture {
        z-index: 0;
    }

    p,
    h1,
    a {
        color: $black;
        text-transform: uppercase;
        z-index: 1;
        &:hover{
            text-decoration: none;
        }
    }
    h1{
        margin-bottom: 1rem;
    }
    h1, .btn{
        text-shadow:1px 1px 0 rgba(255, 255,255, .5);
    }
    .btn{
        box-shadow: 5px 5px 9px rgba(255, 255, 255, .15);
    }
    & .dark {

        p,
        h1,
        a {
            color: $white;
        }

        .meta-btn {
            border: 1px solid $white;
            color: $white;

            &:hover,
            &:active,
            &:focus {
                color: $black;
            }

            &:before {
                background-color: $white;
            }

            i {
                color: $black;
                background-color: $white;
            }
        }
        h1, .btn{
            text-shadow:1px 1px 0 rgba(0, 0,0, .5);
        }
        .btn{
            box-shadow: 5px 5px 9px rgba(0, 0, 0, .15);
        }
    }
   main {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0;

        @include media-breakpoint-up(lg) {
            grid-template-columns: 1fr;
        }

        section {
            width: 100%;
        }
    }
    aside{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1px;
        padding: 0;
        @include media-breakpoint-up(lg) {
            grid-template-columns: repeat(4,1fr);
        }
        picture{
            border: 1px solid white;
        }
        a{
            position: absolute;
            top: 50%;
            font-size: 3rem;
            transform: translateY(-3rem);
            width: 100%;
            text-align: center;
            i{
             color:transparentize($gray-300, 1);
             transition: color .5s linear .5s;             
            }
        }
        &:hover{
            a{
                i{
                    color:transparentize($gray-300, 0.5);
                    transition: color .7s linear .2s;
                }
            }
        }
    }
}