main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 0 1rem;
}
@include media-breakpoint-up(lg){
    main{
        grid-template-columns: 1fr 11fr 1fr;
    }
}