main, footer, aside{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 0 1rem;
}
#system-message-container{
    grid-column-start: 2;
}
@include media-breakpoint-up(lg){
    main, aside{
        grid-template-columns: 1fr 11fr 1fr;
    }
    footer{
        grid-template-columns:auto 9fr auto;
    }
}