.category {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem 1rem;
    grid-auto-rows: min-content;
    
    [class^="leading-"],
    .item {
        position: relative;
        transition: all 1s ease-in-out 1s;
        overflow: hidden;
        background: $black;
        margin-bottom:1rem;
        &:hover {
            .readmore {
                opacity: 1;
            }
        }
    
        img{
            width: 100%;
        }
        a {
            color: $white;
            display: block;
        }

        .readmore {
            position: absolute;
            top: 50%;
            left: 50%;
            opacity: 0;
            background: transparent;
            border: 0;
            color: $white;
            cursor: pointer;
            margin-left: -2rem;

        }

        figure {
            position: relative;
            margin: 0;
        }

        figcaption {
            position: absolute;
            top: 1.25rem;
            left: 1.875rem;
            opacity: 0;
        }
    }
    .item{
        &:hover {

            figcaption{
                opacity: 1;
            }

            img {
                opacity: 0.5;
            }
        }
    }
}
.items-leading {
    background: $white;
    margin-bottom: 1rem;
}
.blockquote-footer {
    padding-left: 6rem;
    font-size: 70%;
}
.deco {
    display: block;
    margin: 0 auto 1rem;
    width:50%; 
}
[class^="leading-"]{
    .readmore{
        background: url(../img/findoutwhite.png) no-repeat center center !important;
        height: 25%;
        width: 25%;
        background-size: contain !important;
        top: 50%!important;
        left: 37.5%!important;
        i{
            display: none;
        }
    }
    }
    .five {    
        display: grid;
        grid-template-columns:repeat(3,1fr);
        grid-gap: 1rem;
        img{height: auto;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);}
        figcaption {
            grid-column: 1 /span 3;
        }
    }
    .embed-responsive {
        figcaption {
        margin-top: 1rem;
    }
}
@include media-breakpoint-up(lg) {
    .category {
        grid-column-start: 2;
        grid-template-columns: repeat(3, 1fr);
        .items-leading {
            grid-column: 1/span 3;
        }
    }
    .event{
    h1, h2, h3, h4, h5, h6, ul, p,.blockquote{
        max-width: 70rem;
        margin-left: auto;
        margin-right:auto;
    }
    }
    .deco {
        width:inherit; 
    }
    .five{
        grid-template-columns:repeat(5,1fr);
        figcaption {
            grid-column: 1 /span 3;
        }
    }
}