/* muli-300 - latin */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 300;
    font-display: auto;
    src: url('../fonts/muli-v13-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Muli Light'), local('Muli-Light'),
         url('../fonts/muli-v13-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/muli-v13-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/muli-v13-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/muli-v13-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/muli-v13-latin-300.svg#Muli') format('svg'); /* Legacy iOS */
  }
  /* muli-300italic - latin */
  @font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 300;
    font-display: auto;
    src: url('../fonts/muli-v13-latin-300italic.eot'); /* IE9 Compat Modes */
    src: local('Muli Light Italic'), local('Muli-LightItalic'),
         url('../fonts/muli-v13-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/muli-v13-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/muli-v13-latin-300italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/muli-v13-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/muli-v13-latin-300italic.svg#Muli') format('svg'); /* Legacy iOS */
  }
  /* Icomoon*/
//   @import "variables";
/*Iconmoon Variables*/
$icomoon-font-family: "meta" !default;
$icomoon-font-path: "../fonts" !default;

$meta-map-marker-alt: "\e900";
$meta-add_cart: "\e854";
$meta-arrow-right: "\e5c8";
$meta-refresh: "\e86a";
$meta-phone: "\e0cd";
$meta-check: "\f00c";
$meta-trash: "\e872";
$meta-heart: "\e87d";
$meta-shopping-cart: "\e8cc";
$meta-envelope: "\e0e1";
$meta-search: "\e8b6";
$meta-facebook: "\ea90";
$meta-instagram: "\ea92";
$meta-skype: "\eac5";
$meta-pinterest: "\ead2";
$fa-close: "\e5cd";
$fa-bars: "\e3c7";
$fa-spinner: "\e982";
$fa-caret: "\e313";
/*EOF Icomoon Variables*/
@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fa-"]:before, [class*=" fa-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;     
  display: inline-block;
  text-rendering: auto;
 

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-map-marker-alt {
  &:before {
    content: $meta-map-marker-alt; 
  }
}
.fa-add_cart {
  &:before {
    content: $meta-add_cart; 
  }
}
.fa-arrow-right {
  &:before {
    content: $meta-arrow-right; 
  }
}
.fa-refresh {
  &:before {
    content: $meta-refresh; 
  }
}
.fa-phone {
  &:before {
    content: $meta-phone; 
  }
}
.fa-check {
  &:before {
    content: $meta-check; 
  }
}
.fa-trash {
  &:before {
    content: $meta-trash; 
  }
}
.fa-heart {
  &:before {
    content: $meta-heart; 
  }
}
.fa-shopping-cart {
  &:before {
    content: $meta-shopping-cart; 
  }
}
.fa-envelope {
  &:before {
    content: $meta-envelope; 
  }
}
.fa-search {
  &:before {
    content: $meta-search; 
  }
}
.fa-facebook {
  &:before {
    content: $meta-facebook; 
  }
}
.fa-instagram{
  &:before {
    content: $meta-instagram; 
  }
}
.fa-skype {
  &:before {
    content: $meta-skype; 
  }
}
.fa-pinterest {
  &:before {
    content: $meta-pinterest; 
  }
}
.fa-close,.fa-times {
  &:before {
    content: $fa-close; 
  }
}
.fa-bars {
  &:before {
    content: $fa-bars; 
  }
}
.fa-spinner {
  &:before {
    content: $fa-spinner; 
  }
}
.fa-caret {
  &:before {
    content: $fa-caret; 
  }
}
// Recup from hikashop font awesome
.fa, .fab, .fal, .far, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.fa-lg {
  font-size: 1.33333rem;
  line-height: .75rem;
  vertical-align: -.0667rem;
}

.fa-xs {
  font-size: .75rem;
}

.fa-sm {
  font-size: .875rem;
}

.fa-1x {
  font-size: 1rem;
}

.fa-2x {
  font-size: 2rem;
}

.fa-3x {
  font-size: 3rem;
}

.fa-4x {
  font-size: 4rem;
}

.fa-5x {
  font-size: 5rem;
}

.fa-6x {
  font-size: 6rem;
}

.fa-7x {
  font-size: 7rem;
}

.fa-8x {
  font-size: 8rem;
}

.fa-9x {
  font-size: 9rem;
}

.fa-10x {
  font-size: 10rem;
}

.fa-fw {
  text-align: center;
  width: 1.25rem;
}

.fa-ul {
  list-style-type: none;
  margin-left: 3rem;
  padding-left: 0;
  > li {
    position: relative;
  }
}

.fa-li {
  left: -2rem;
  position: absolute;
  text-align: center;
  width: 2rem;
  line-height: inherit;
}

.fa-border {
  border: .08rem solid #eee;
  border-radius: .1rem;
  padding: .2rem .25rem .15rem;
}

.fa-pull-left {
  float: left;
}

.fa-pull-right {
  float: right;
}

.fa.fa-pull-left, .fab.fa-pull-left, .fal.fa-pull-left, .far.fa-pull-left, .fas.fa-pull-left {
  margin-right: .3rem;
}

.fa.fa-pull-right, .fab.fa-pull-right, .fal.fa-pull-right, .far.fa-pull-right, .fas.fa-pull-right {
  margin-left: .3rem;
}

.fa-spin {
  animation: a 2s infinite linear;
}

.fa-pulse {
  animation: a 1s infinite steps(8);
}
i.fa-li {
  margin-top: -.5rem;
}
@keyframes a {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}


.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  transform: rotate(90deg);
}

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  transform: rotate(180deg);
}

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  transform: rotate(270deg);
}

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  transform: scaleX(-1);
}

.fa-flip-vertical {
  transform: scaleY(-1);
}

.fa-flip-horizontal.fa-flip-vertical, .fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
}

.fa-flip-horizontal.fa-flip-vertical {
  transform: scale(-1);
}

:root {
  .fa-flip-horizontal, .fa-flip-vertical, .fa-rotate-90, .fa-rotate-180, .fa-rotate-270 {
    -webkit-filter: none;
    filter: none;
  }
}

.fa-stack {
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
  position: relative;
  vertical-align: middle;
  width: 2rem;
}

.fa-stack-1x, .fa-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-stack-2x {
  font-size: 2rem;
}

.fa-inverse {
  color: #fff;
}
.blockquote{
  margin-left: 1rem;
}
@include media-breakpoint-up(lg) {
  .blockquote{
  margin-left: 3rem;
  }
}